<h1>Quelqu'un vous a contacté via le site internet de WaitxSee !</h1>
<p>
  Son Email : <%= Contact.last.email %>
</p>
<p>
  Son Nom/Entreprise : <%= Contact.last.name %>
</p>
<p>
  Son Message : <%= Contact.last.message %>
</p>
